body {
    background-image: url("../images/registerbackgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

form{
    background-color: white;
    padding: 20px 30px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 5px peru;
    margin-left:400px;
    margin-right: 400px;
    margin-top: 400px;
    margin-top: 50px;
}


